
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');$primary : #aab870;
$primary-dark : #512e12;

$secondary : #626262;
$white : #ffffff;
$black : #272727;
$blue: #016fcc;
$text: #ffffff;
$footer-text : #899dab;
$text-font: 20px;
$footer-bg : #223645;
$testimonial : #0cb8b6;

$bg-gray : #f1f1f1;
$bg-gray-light : #f8f9fb;
$dark-gray : #959595;




$icon-input-color : #8e8e93;

$banner-cta-min-height : 110px;


$primary-font-family: 'PT Sans', sans-serif;
$secondary-font-family: 'PT Sans', sans-serif;


